datasets
einops
matplotlib
numpy
pandas
PyYAML
seaborn
tqdm
transformers==4.39
tensorboard
torchmetrics
pytorch-lightning
scikit-learn
plotly
lovely-tensors
timm
openpyxl
torch==2.*
pydantic
streamlit
pycairo
eyekit
stqdm
jellyfish
icecream